body {
    background-color: #E6ECF0;
}

/*.row.content {height: 1500px}*!*/

.doc  {
    color: white;
}

.register {
    background-color: #007bff;
}

.login {
    background-color: white;
}

.sidenav {
    height: 100%;
}

.user {
    background-color: #ffffff;
    min-height: 300px;
    text-align: center;
    padding: 45px;
    text-align: center;
    background-color: white;
    max-height: 600px;
}

.user img {
    max-width:100%;
    height: auto;
}

.user-pic {
    width: 60%;
}

.posts {
    background-color: #ffffff;
}

.tweets {
    padding: 30px;
    height: 100%;
}

.profile-icon img{
    margin-right: 10px;
    max-width: 10%;
    height: auto;
}

.user-image {
    width: 50%;
    padding: 55px;
    text-align: center;
    background-color: white;
    max-height: 600px;
}

.user-image button {
    border: none;
    color: white;
    text-decoration: none;
    height: 40px;
    background-color: #28a745;
    cursor: pointer;
}

/*USER EDIT PICTURE*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/*END*/

.user-image img {
    max-width: 50%;
}

.tweet-body {
    padding: 20px;
    word-wrap: break-word;
}

/*RATING CSS*/
.rating {
    width: 130px;
    direction: rtl;
    text-align: center;
}
.rating > button {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > button:hover:before,
.rating > button:hover ~ button:before {
    content: "\2605";
    position: absolute;
}

.rating button {
    background-color: transparent;
    border: none;
    color: #005cbf;
    cursor: pointer;
}
/*END RATING*/

.links {
    width: 50%;
    margin-left: 35%;
}

.popular {
    background-color: #ffffff;
}

.recommended-user {
    min-height: 80px;
}

.clear {
    float: none;
}

.t-count {
    width: 50%;
    float: left;
    position: relative;
    top: 20px;
}

.follow-button {
    text-align: right;
    position: relative;
    top: 10px;
}

.popular a:hover {
    text-decoration: none;
}

.popular a img {
    max-width: 20%;
}

.user-tweet {
    background-color: white;
    padding-top: 40px;
}

.user-nav {
    height: 50px;
    text-align: right;
}

.no-tweets {
    padding: 30% 0%;
}

.follow {
    min-height: 100px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    margin: 20px;
}

.follow img {
    max-width: 100px;
    height: 100%;
}

/*On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .user-image {
        width: 100%;
    }
    .row.content {height: auto;}
    .rates {
        float:right;
    }
}
